src/Alexa_Skill_set/KrankenbettAssist/KrankenbettAssistent_NodeRed.txt
[{"id":"712e1a28.0efe64","type":"http in","z":"f7fcf783.b20ed8","name":"Incoming Alexa Request","url":"/BrainGrid","method":"post","upload":false,"swaggerDoc":"","x":170,"y":220,"wires":[["4b435c73.895214","860b512c.2ca958"]]},{"id":"4b435c73.895214","type":"switch","z":"f7fcf783.b20ed8","name":"Sort by Request Type","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":420,"y":220,"wires":[[],["9cf9bd15.da6698","1a96fe76.b80cea"],[],[]]},{"id":"9cf9bd15.da6698","type":"switch","z":"f7fcf783.b20ed8","name":"Sort by Intent","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"PatientBrauchtIntent","vt":"str"},{"t":"eq","v":"SpeiseplanVorlesenIntent","vt":"str"},{"t":"eq","v":"HelpIntent","vt":"str"},{"t":"eq","v":"frageNaechstenTerminIntent","vt":"str"},{"t":"eq","v":"frageOrtVonTerminIntent","vt":"str"},{"t":"eq","v":"frageZeitVonTerminIntent","vt":"str"},{"t":"eq","v":"frageAlleTermineIntent","vt":"str"},{"t":"eq","v":"MenuIntent","vt":"str"}],"checkall":"true","outputs":8,"x":637,"y":271,"wires":[["3a4f7024.b9e648","ee6b15f8.52f488","68ea4711.a6bec8"],["5419b639.e99108"],[],["2bed8ca2.8e96ec"],["7cda360.690ffcc","960c7ee4.f030f8"],["97173a27.1e4a5","960c7ee4.f030f8"],["c1705458.b29108"],["ed38446f.07f3b","d2ca9370.3ded8"]]},{"id":"839964f5.942cd","type":"template","z":"f7fcf783.b20ed8","name":"Format response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"version\": \"1.0\" ,\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"PlainText\" ,\n            \"text\": \"{{payload}}\"\n        },\n        \"shouldEndSession\": true\n    }\n}","output":"str","x":1430,"y":220,"wires":[["14c250b8.dfd4af","2528b820.a31588"]]},{"id":"14c250b8.dfd4af","type":"json","z":"f7fcf783.b20ed8","name":"","pretty":false,"x":1630,"y":220,"wires":[["f73f9e97.b702a8","b85dfdf2.3d3088"]]},{"id":"f73f9e97.b702a8","type":"http response","z":"f7fcf783.b20ed8","name":"","statusCode":"","headers":{},"x":1750,"y":220,"wires":[]},{"id":"860b512c.2ca958","type":"debug","z":"f7fcf783.b20ed8","name":"Input","active":true,"console":"false","complete":"payload","x":390,"y":80,"wires":[]},{"id":"2528b820.a31588","type":"debug","z":"f7fcf783.b20ed8","name":"Output","active":true,"console":"false","complete":"payload","x":1630,"y":100,"wires":[]},{"id":"c11ff399.59d1c","type":"e-mail","z":"f7fcf783.b20ed8","server":"smtp.gmail.com","port":"465","secure":true,"name":"BrainGridTeam@gmail.com","dname":"Email out","x":1200,"y":260,"wires":[]},{"id":"c08c338.ba53ad","type":"debug","z":"f7fcf783.b20ed8","name":"Email","active":true,"console":"false","complete":"payload","x":1190,"y":300,"wires":[]},{"id":"68ea4711.a6bec8","type":"template","z":"f7fcf783.b20ed8","name":"kuendige Krankenschwester an","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Ok, eine Krankenschwester ist auf dem Weg.","output":"str","x":930,"y":220,"wires":[["839964f5.942cd"]]},{"id":"ee6b15f8.52f488","type":"function","z":"f7fcf783.b20ed8","name":"Email Content","func":"var newMsg;\nswitch(msg.payload.request.intent.slots.PatientenBeduerfnis.value){\n    case \"schmerzmittel\":\n        newMsg = { payload: \"Patient xy benötigt mehr Schmerzmittel\" , topic: \"Alexa Schmerzmittel-Anfrage Zimmer 5\"};\n        break;\n    case \"tee\":\n        newMsg = { payload: \"Patient xy wünscht sich einen Tee\" , topic: \"Alexa Tee-Anfrage Zimmer 5\"};\n        break;\n    default:\n        newMsg = { payload: \"Patient xy benötigt etwas\" , topic: \"Alexa Anfrage Zimmer 5\"};\n\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":880,"y":260,"wires":[["c11ff399.59d1c","c08c338.ba53ad"]]},{"id":"1a96fe76.b80cea","type":"debug","z":"f7fcf783.b20ed8","name":"IntentRequest","active":true,"console":"false","complete":"payload","x":660,"y":140,"wires":[]},{"id":"3a4f7024.b9e648","type":"debug","z":"f7fcf783.b20ed8","name":"Intent","active":true,"console":"false","complete":"payload","x":850,"y":300,"wires":[]},{"id":"5419b639.e99108","type":"http request","z":"f7fcf783.b20ed8","name":"GetSpeisekarte","method":"GET","ret":"txt","url":"http://52.29.117.173/get_eat.php","tls":"","x":880,"y":340,"wires":[["78d8630e.74bcec"]]},{"id":"2bed8ca2.8e96ec","type":"http request","z":"f7fcf783.b20ed8","name":"TesteTermine","method":"GET","ret":"txt","url":"http://52.29.117.173/get_termine.php","tls":"","x":870,"y":720,"wires":[["88408533.55eb18","bd061848.f367c8"]]},{"id":"f4a8d33d.72465","type":"function","z":"f7fcf783.b20ed8","name":"Wo","func":"if(msg.topic == \"Betreff\"){\ncontext.betreff = msg.payload;\nreturn null;\n}else{\ncontext.betreff=context.betreff || \"\";    \nvar datenRoh = msg.payload.split(\",\");\nvar i;\nvar str =\"Es tut mir leid. Ich konnte den Termin \" + context.betreff + \" nicht finden.\";\nvar daten;\nfor(i=0; i< datenRoh.length ; i++){\n    daten = datenRoh[i].split(\"_\");\n    if (daten[0].toLowerCase() == context.betreff.toLowerCase() ){\n        str = \"Der Termin \" +context.betreff + \" findet in Raum \" + daten[3] + \" statt.\";\n        break;\n    }    \n}\nmsg.payload = str;\nreturn msg;\n}","outputs":1,"noerr":0,"x":1110,"y":520,"wires":[["839964f5.942cd"]]},{"id":"18244b15.a1e8fd","type":"function","z":"f7fcf783.b20ed8","name":"Wann","func":"\nif(msg.topic == \"Betreff\"){\ncontext.betreff = msg.payload;\nreturn null;\n}else{\ncontext.betreff=context.betreff || \"\";    \nvar datenRoh = msg.payload.split(\",\");\nvar i;\nvar str =\"Es tut mir leid. Ich konnte den Termin \" + context.betreff + \" nicht finden.\";\nvar daten;\nfor(i=0; i< datenRoh.length ; i++){\n    daten = datenRoh[i].split(\"_\");\n    if (daten[0].toLowerCase() == context.betreff.toLowerCase() ){\n        str = \"Der Termin \" +context.betreff + \" findet am \" + daten[1] + \" um \" + daten[2] + \" Uhr statt.\";\n        break;\n    }    \n}\nmsg.payload = str;\nreturn msg;\n}","outputs":1,"noerr":0,"x":1110,"y":600,"wires":[["839964f5.942cd"]]},{"id":"88408533.55eb18","type":"function","z":"f7fcf783.b20ed8","name":"NaechsterTermin","func":"var datenRoh = msg.payload.split(\",\");\n\nvar daten = datenRoh[0].split(\"_\");\n\nmsg.payload = \"Der nächste Termin ist \" + daten[0] + \". Er findet am \" + daten[1] + \" um \" + daten[2] + \" Uhr im Raum: \" + daten[3] + \" statt.\";\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":720,"wires":[["839964f5.942cd"]]},{"id":"f824490f.ca82d8","type":"function","z":"f7fcf783.b20ed8","name":"AlleTermine","func":"var datenRoh = msg.payload.split(\",\");\nvar i;\nvar termine=\"\";\nfor(i=0; i< datenRoh.length ; i++){\n    daten = datenRoh[i].split(\"_\");\n    termine += \"Der nächste Termin ist \" + daten[0] + \" . Er findet am \" + daten[1] + \" um \" + daten[2] + \" Uhr in Raum \" + daten[3] + \" statt. \"\n}\n\nmsg.payload = termine;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":660,"wires":[["839964f5.942cd"]]},{"id":"7cda360.690ffcc","type":"http request","z":"f7fcf783.b20ed8","name":"TesteTermine","method":"GET","ret":"txt","url":"http://52.29.117.173/get_termine.php","tls":"","x":870,"y":520,"wires":[["f4a8d33d.72465","bd061848.f367c8"]]},{"id":"97173a27.1e4a5","type":"http request","z":"f7fcf783.b20ed8","name":"TesteTermine","method":"GET","ret":"txt","url":"http://52.29.117.173/get_termine.php","tls":"","x":870,"y":600,"wires":[["18244b15.a1e8fd","bd061848.f367c8"]]},{"id":"c1705458.b29108","type":"http request","z":"f7fcf783.b20ed8","name":"TesteTermine","method":"GET","ret":"txt","url":"http://52.29.117.173/get_termine.php","tls":"","x":870,"y":660,"wires":[["f824490f.ca82d8","bd061848.f367c8"]]},{"id":"960c7ee4.f030f8","type":"function","z":"f7fcf783.b20ed8","name":"SpeichereBetreff","func":"return {payload : msg.payload.request.intent.slots.TerminBetreff.value, topic: \"Betreff\"};","outputs":1,"noerr":0,"x":890,"y":560,"wires":[["f4a8d33d.72465","18244b15.a1e8fd"]]},{"id":"78d8630e.74bcec","type":"template","z":"f7fcf783.b20ed8","name":"Format response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"version\": \"1.0\" ,\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"PlainText\" ,\n            \"text\": \"{{payload}}\"\n        },\n        \"shouldEndSession\": false\n    }\n}","output":"str","x":1430,"y":340,"wires":[["14c250b8.dfd4af"]]},{"id":"ed38446f.07f3b","type":"template","z":"f7fcf783.b20ed8","name":"Menue Bestaetigung","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Ok, Menue {{payload.request.intent.slots.MenuNummer.value}} ist fuer Sie bestellt.","output":"str","x":904.8833160400391,"y":774.4000396728516,"wires":[["839964f5.942cd"]]},{"id":"bd061848.f367c8","type":"debug","z":"f7fcf783.b20ed8","name":"TerminDatenbankDebug","active":true,"console":"false","complete":"payload","x":1130,"y":440,"wires":[]},{"id":"b85dfdf2.3d3088","type":"debug","z":"f7fcf783.b20ed8","name":"JSON Debug","active":true,"console":"false","complete":"payload","x":1822.883316040039,"y":100.11666870117188,"wires":[]},{"id":"b806fdda.057878","type":"http request","z":"f7fcf783.b20ed8","name":"Datenbankaufruf","method":"POST","ret":"txt","url":"http://52.29.117.173/MenuAuswahl.php","tls":"","x":1420,"y":820,"wires":[[]]},{"id":"a6e9f477.69178","type":"debug","z":"f7fcf783.b20ed8","name":"Datenbankaufruf","active":true,"console":"false","complete":"payload","x":1420,"y":880,"wires":[]},{"id":"d2ca9370.3ded8","type":"function","z":"f7fcf783.b20ed8","name":"Datenbank Daten","func":"msg.payload = {\n    \"MenuNummer\": \"{{payload.request.intent.slots.MenuNummer.value}}\" ,\n};\nmsg.headers = {\"content-type\" : \"application/x-www-form-urlencoded\"};\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":820,"wires":[["b806fdda.057878","a6e9f477.69178"]]}]