src/Alexa_Skill_set/Patientenakte/Patientenakte_NodeRed.txt
[{"id":"69a471c0.d3cc4","type":"http in","z":"ab2f8159.1f54b","name":"Incoming Alexa Request","url":"/Presentation","method":"post","upload":false,"swaggerDoc":"","x":430,"y":200,"wires":[["a8a37443.596818","2041e082.1df818"]]},{"id":"a8a37443.596818","type":"switch","z":"ab2f8159.1f54b","name":"Sort by Request Type","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":680,"y":200,"wires":[[],["9ed6e1d1.e24ff","505d6b07.8f0ac4"],[],[]]},{"id":"9ed6e1d1.e24ff","type":"switch","z":"ab2f8159.1f54b","name":"Sort by Intent","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"HelpIntent","vt":"str"},{"t":"eq","v":"BlutdruckUndPuls","vt":"str"}],"checkall":"true","outputs":2,"x":910,"y":180,"wires":[[],["15d5ce01.d0c4e2","613efe71.057c38"]]},{"id":"15d5ce01.d0c4e2","type":"template","z":"ab2f8159.1f54b","name":"Confirm","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Ok, ich habe die Werte der Akte hinzugefügt.","output":"str","x":1120,"y":180,"wires":[["dcb0ea7f.4d8498"]]},{"id":"dcb0ea7f.4d8498","type":"template","z":"ab2f8159.1f54b","name":"Format response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"version\": \"1.0\" ,\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"PlainText\" ,\n            \"text\": \"{{payload}}\"\n        },\n        \"shouldEndSession\": true\n    }\n}","output":"str","x":1350,"y":180,"wires":[["c85c6014.9622d8"]]},{"id":"c85c6014.9622d8","type":"json","z":"ab2f8159.1f54b","name":"","pretty":false,"x":1510,"y":180,"wires":[["efb5c904.8e4ba"]]},{"id":"2041e082.1df818","type":"debug","z":"ab2f8159.1f54b","name":"Input","active":true,"console":"false","complete":"payload","x":650,"y":60,"wires":[]},{"id":"505d6b07.8f0ac4","type":"debug","z":"ab2f8159.1f54b","name":"IntentRequest","active":true,"console":"false","complete":"payload","x":898.4666442871094,"y":65.93333435058594,"wires":[]},{"id":"efb5c904.8e4ba","type":"http response","z":"ab2f8159.1f54b","name":"","statusCode":"","headers":{},"x":1630,"y":180,"wires":[]},{"id":"2f4d9aae.14feb6","type":"http request","z":"ab2f8159.1f54b","name":"Datenbankaufruf","method":"POST","ret":"txt","url":"http://52.29.117.173/update.php","tls":"","x":1680,"y":240,"wires":[[]]},{"id":"6cad0c8a.cba2fc","type":"debug","z":"ab2f8159.1f54b","name":"Datenbankaufruf","active":true,"console":"false","complete":"payload","x":1680,"y":300,"wires":[]},{"id":"613efe71.057c38","type":"function","z":"ab2f8159.1f54b","name":"Datenbank Daten","func":"msg.payload = {\n    \"Systole\": \"{{payload.request.intent.slots.Systole.value}}\" ,\n    \"Diastole\":\"{{payload.request.intent.slots.Diastole.value}}\" ,\n    \"Puls\": \"{{payload.request.intent.slots.Puls.value}}\"\n};\nmsg.headers = {\"content-type\" : \"application/x-www-form-urlencoded\"};\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":240,"wires":[["2f4d9aae.14feb6","6cad0c8a.cba2fc"]]}]